#header {
    #logo {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
}

#header:hover {
    #logo {
        filter: none;
        -webkit-filter: none;
    }
}

#header {
    margin: 0 auto 2rem;
    width: 100%;

    h1, .h1 {
        margin-top: 0;
        margin-bottom: 0;

        color: $color-text;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: .01em;

        @include antialias();
    }

    a {
        background: none;
        text-decoration: none;

        color: inherit;
    }

    #logo {
        float: left;
        margin-right: 20px;

        width: $logo-width;
        height: $logo-height;
        border-radius: 5px;
        background-size: $logo-width $logo-height;
        background-repeat: no-repeat;
    }

    #nav {
        color: $color-accent-1;

        font-weight: 200;
        font-style: normal;
        font-size: .8rem;
        letter-spacing: .01em;

        ul {
            margin: 0;
            padding: 0;

            list-style-type: none;
            line-height: 15px;

            .icon {
                display: none;
            }

            li {
                display: inline-block;
                vertical-align: middle;

                margin-right: 15px;
                border-right: 1px dotted;
                border-color: $color-accent-1;

                a {
                    margin-right: 15px;
                    color: $color-accent-1;
                }

                a:hover {
                    @include underline(5px, $color-accent-1);
                }
            }

            li:last-child {
                margin-right: 0;
                border-right: 0;

                a {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #header {
        #title {
            min-height: $logo-height;

            display: table;
            margin-right: 5rem;

            h1 {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    #header {
        #nav {
            ul {
                a:hover {
                    background: none;
                }

                li {
                    display: none;
                    border-right: 0;
                }

                li.icon {
                    position: absolute;
                    top: 77px;
                    right: 0; // origin: 1rem
                    display: inline-block;
                }
            }

            ul.responsive {
                li {
                    display: block;
                }
            }

            li:not(:first-child) {
                padding-top: 1rem;
                padding-left: $logo-width + 20px;

                font-size: 1rem;
            }
        }
    }
}