*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    border-top: 2px solid $color-text;

    // unknown
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    // flex: 1; unknown

    margin: 0 auto;
    height: 100%;
    max-width: $page-width;
    background-color: $color-background;

    color: $color-text;
    font-weight: 400;
    font-size: $font-size;
    font-family: $font-family-body;
    text-rendering: geometricPrecision;

    line-height: $line-height;

    h1, .h1 {
        display: block;
        margin-top: 3rem;
        margin-bottom: 1rem;

        color: $color-accent-1;
        font-weight: 700;
        font-size: 1.75em;
        font-style: normal;
        letter-spacing: .01em;

        @include antialias(); // unknown
    }

    h2, .h2 {
        position: relative; // For prefix

        display: block;
        margin-top: 2rem;
        margin-bottom: .5rem;

        color: $color-accent-2;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: none;
        letter-spacing: normal;
    }

    h3 {
        margin-top: .9rem;
        margin-bottom: .5rem;

        color: $color-accent-2;
        font-weight: bold;
        font-size: 1.25rem;
        text-decoration: underline;
    }

    h4, h5, h6 {
        display: inline;
        text-decoration: none;

        // margin-top: .9rem; ignore by inline
        // margin-bottom: .5rem; ignore by inline

        color: $color-accent-3;
        font-weight: bold;
        font-size: .9rem;
    }

    hr {
        border: .5px dashed $color-accent-3;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: .5;
    }

    ul, ol, dl {
        line-height: $line-height; // unknown
    }

    // unknown
    ul, ol {
        ul, ol {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    ol {
        list-style: decimal; // unknown
    }

    dt {
        font-weight: bold; // unknown
    }

    strong {
        font-weight: bold;
    }

    em, cite {
        font-style: italic;
    }

    // unknown
    sup, sub {
        position: relative;
        vertical-align: baseline;
        font-size: .75em;
        line-height: 0;
    }

    // unknown
    sup {
        top: -.5em;
    }

    // unknown
    sub {
        bottom: -.2em;
    }

    // unknown
    small {
        font-size: .85em;
    }

    // unknown
    acronym, abbr {
        border-bottom: 1px dotted;
    }

    // unknown
    table {
        width: 100%;
        overflow: auto;
        display: block;
    }

    table {
        border-collapse: collapse;

        font-size: $font-size - 2px;
        text-align: left;
    }

    th {
        padding: 8px;
        border: 1px dashed $color-border;
        border-bottom: 1px dashed;

        color: $color-accent-2;
        font-weight: bold;
        font-size: $font-size - 1px;
    }

    td {
        padding: 8px;
        border: 1px dashed $color-border;
    }

    @include antialias();
}

.content {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    overflow-wrap: break-word;

    // unknown
    p {
        @include hyphens(auto);
    }

    // unknown
    code {
        @include hyphens(manual);
    }

    a {
        color: $color-text;
        text-decoration: none;

        @include underline(5px, $color-text);

        &:hover {
            background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link);
        }
    }

    // unknown
    a.icon {
        background: none;

        &:hover {
            color: $color-link;
        }
    }

    h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        background: none;
        text-decoration: none;
        color: inherit;
    }

    h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
        @include underline(6px, $color-link);
    }
}

code {
    padding: 0 5px;
    border: 1px dotted $color-border;
    border-radius: 2px;
}

pre {
    overflow-x: auto;
    padding: 10px 15px;
    border: 1px dotted $color-border;
    border-radius: 4px;

    font-size: 13px;
    font-family: $font-family-mono;
    line-height: 22px;

    code {
        padding: 0;
        border: none;
    }
}

@media (max-width: 480px) {
    .px3 {
        padding-right: 1.5rem; // origin 1rem
        padding-left: 1.5rem; // origin 1rem
    }

    .my4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

// unknown
@media (min-width: 540px) {
    .image-wrap {
        flex-direction: row;
        margin-bottom: 2rem;

        .image-block {
            flex: 1 0 35%;
            margin-right: 2rem;
        }

        p {
            flex: 1 0 65%;
        }
    }
}

// unknown
@media (min-width: 480px) {
    p {
        text-align: left;
    }
}