pre {
    code {
        display: block;
    }
}

pre[class*=language-] {
    margin: 1rem 0;
    padding: 10px 15px;
    border: none;
    background: lighten($color-background-code, 7%);
    font-family: $font-family-mono;

    code[class*=language-] {
        font-family: $font-family-mono;
    }

    &:hover {
        .btn-copy {
            opacity: 1;
        }
    }

    .btn-copy {
        z-index: 1; // make clipboard on code block
        font-size: 1.2rem;
        position: absolute;
        right: 20px;
        opacity: 0;
        transition: opacity 0.2s ease-in;

        &:hover {
            color: $color-accent-1;
        }
    }
}

pre[class*=language-].line-numbers {
	position: relative;
	padding-left: 3.8em;
    counter-reset: linenumber;
    z-index: 0; // make code block under clipboard
    
    code {
        position: relative;
	    white-space: inherit;
    }
}

.line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    & > span {
        display: block;
        counter-increment: linenumber;
        
        &:before {
            content: counter(linenumber);
            opacity: .3;
	        display: block;
	        padding-right: 0.8em;
	        text-align: right;
        }
    }
}