<div id="footer-post-container">
    <div id="footer-post">
        <div id="nav-footer" style="display: none">
            <ul>
                {{ range $menu := .Site.Menus.main }}
                    <li><a href="{{- $menu.URL }}">{{ $menu.Name }}</a></li>
                {{ end }}
            </ul>
        </div>

        <div id="toc-footer" style="display: none">
            TODO
        </div>

        <div id="share-footer" style="display: none">
            <ul>
                {{ $URL := .Permalink | safeURL }}
                <li><a class="icon" href="http://www.facebook.com/sharer.php?u={{ $URL }}"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="https://twitter.com/share?url={{ $URL }}&text={{ .Title }}"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="http://www.linkedin.com/shareArticle?url={{ $URL }}&title={{ .Title }}"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url={{ $URL }}&is_video=false&description={{ .Title }}"><i class="fab fa-pinterest fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="mailto:?subject={{ .Title }}&body=Check out this article: {{ $URL }}"><i class="fas fa-envelope fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="https://getpocket.com/save?url={{ $URL }}&title={{ .Title }}"><i class="fab fa-get-pocket fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="http://reddit.com/submit?url={{ $URL }}&title={{ .Title }}"><i class="fab fa-reddit fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="http://www.stumbleupon.com/submit?url={{ $URL }}&title={{ .Title }}"><i class="fab fa-stumbleupon fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="http://digg.com/submit?url={{ $URL }}&title={{ .Title }}"><i class="fab fa-digg fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="http://www.tumblr.com/share/link?url={{ $URL }}&name={{ .Title }}"><i class="fab fa-tumblr fa-lg" aria-hidden="true"></i></a></li>
                <li><a class="icon" href="https://news.ycombinator.com/submitlink?u={{ $URL }}&t={{ .Title }}"><i class="fab fa-hacker-news fa-lg" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div id="actions-footer">
            <a id="menu" class="icon" href="#" onclick="$('#nav-footer').toggle();return false;"><i class="fas fa-bars fa-lg" aria-hidden="true"></i> 選單 </a>
            <a id="toc" class="icon" href="#" onclick="$('#toc-footer').toggle();return false;"><i class="fas fa-list fa-lg" aria-hidden="true"></i> 段落 </a>
            <a id="share" class="icon" href="#" onclick="$('#share-footer').toggle();return false;"><i class="fas fa-share-alt fa-lg" aria-hidden="true"></i> 分享 </a>
            <a id="top" style="display: none" class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fas fa-chevron-up fa-lg" aria-hidden="true"></i> 回到開頭 </a>
        </div>
    </div>
</div>