{{- define "main" }}

<div class="content index py4">
    {{- partial "header.html" . }}

    <artivle class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="content" itemprop="articleBody">
            <div id="taxonomies">
                <h2 class="taxonomy-title">{{ upper .Data.Plural }}</h2>

                {{- .Content }}

                <ul class="taxonomy-list">
                    {{ range $taxonomy := .Data.Pages.ByTitle }}
                    <li class="taxonomy-list-item">
                        <a class="taxonomy-link" href="{{ $taxonomy.Permalink }}">{{ $taxonomy.Title }}</a>
                        <span class="taxonomy-count">{{ len $taxonomy.Pages }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </artivle>

    {{- partial "footer.html" . -}}
</div>

{{- end }}