<footer id="footer">
    <div class="footer-left">
        Copyright &copy;
        {{ $start := .Site.Params.start_year | default (now.Format "2006") }}
        {{ $end := .Site.Params.end_year | default (now.Format "2006") }}
        {{ cond (ne $start $end) (printf "%v-%v" $start $end) $start }}
        {{ or (or .Params.author .Site.Params.author) .Site.Title }}
    </div>
    <div class="footer-right">
        <nav>
            <ul>
                {{ range $menu := .Site.Menus.main }}
                    <li><a href="{{ $menu.URL }}">{{ $menu.Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>
</footer>