<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    {{ if .Site.Params.icon_enable }}
        {{ if .Site.Params.email }}
            <link rel="shortcut icon" href="https://www.gravatar.com/avatar/{{ md5 .Site.Params.email }}?s=16" />
            <link rel="icon" type="image/png" sizes="192x192" href="https://www.gravatar.com/avatar/{{ md5 .Site.Params.email }}?s=192" />
            <link rel="apple-touch-icon" sizes="180x180" href="https://www.gravatar.com/avatar/{{ md5 .Site.Params.email }}?=180" />
        {{ else }}
            <link rel="shortcut icon" href="/images/favicon.ico" />
            <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png" />
            <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
        {{ end }}
    {{ end }}
    
    {{- partial "opengraph.html" . }}

    <title>{{ .Title }}</title>

    <!-- styles -->
    {{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <!-- persian styles -->
    {{ if .Site.Params.direction }}
        {{ $rtl_style := resources.Get "scss/rtl.scss" | resources.ExecuteAsTemplate "rtl.scss" . | toCSS (dict "outputStyle" "compressed") | fingerprint }}
        <link rel="stylesheet" href="{{ $rtl_style.Permalink }}" />
    {{ end }}
</head>