<header id="header">
    <a href="{{ .Site.BaseURL }}">
        {{ if .Site.Params.logo.enable }}
            {{ if and .Site.Params.logo.use_gravatar (isset .Site.Params "email") }}
                <div id="logo" style='background-image: url("https://www.gravatar.com/avatar/{{ md5 .Site.Params.email }}");'></div>
            {{ else }}
                <div id="logo" style='background-image: url("/images/logo.svg");'></div>
            {{ end }}
        {{ end }}
        <div id="title">
            <h1>{{ .Site.Title }}</h1>
        </div>
    </a>
    <div id="nav">
        <ul>
            <li class="icon">
                <a href="#"><i class="fas fa-bars fa-2x"></i></a>
            </li>
            
            {{ range $menu := .Site.Menus.main }}
                <li><b><a href="{{ $menu.URL }}">{{ $menu.Name }}</a></b></li>
            {{ end }}
        </ul>
    </div>
</header>