{{- define "main" }}

<div class="content index py4">
    {{- partial "header.html" . }}

    <section id="about">
        {{- with .Site.Params.description }}
            {{- . | markdownify -}}
        {{ end }}
    </section>

    <section id="writing">
        <span class="h1">近期堆積</span>

        <ul class="post-list">
            {{ $pages := cond (eq .Site.Params.post.sortByUpdated true) .Site.RegularPages.ByLastmod.Reverse .Site.RegularPages}}
            {{ $paginator := .Paginate $pages }}
            {{ range $page := $paginator.Pages }}
                <li class="post-item">
                    <div class="meta">
                        {{ if and .Site.Params.post.sortByUpdated (ne $page.Date $page.Lastmod) }}
                            <time datetime="{{ $page.Lastmod }}" itemprop="dateModified">{{ $page.Lastmod.Format "2006-01-02" }}</time>
                        {{ else }}
                            <time datetime="{{ $page.Date }}" itemprop="datePublished">{{ $page.Date.Format "2006-01-02" }}</time>
                        {{ end }}
                    </div>

                    <span>
                        <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
                    </span>
                </li>
            {{ end }}
        </ul>

        {{ if .Site.Params.post.showAll }}
            {{- partial "pagination.html" (dict "paginator" $paginator )}}
        {{ end }}
    </section>

    {{ with .Site.Data.projects }}
        <section id="projects">
            <span class="h1">
                {{- if isset $.Site.Params "projects_url" -}}
                    <a href="{{ $.Site.Params.projects_url }}">專案</a>
                {{- else -}}
                    專案
                {{- end -}}
            </span>

            <ul class="project-list">
                {{ range $project := . }}
                    <li class="project-item">
                        <a href="{{ $project.url }}">{{ $project.name }}</a>: {{ $project.desc | markdownify -}}
                    </li>
                {{ end }}
            </ul>
        </section>
    {{ end }}

    {{- partial "footer.html" . -}}
</div>

{{- end }}